body {
    display: flex;
}

.div1 {
    height: 20vh;
    width: 20%;
    background-color: lightblue;
}

.div2 {
    height: 20vh;
    width: 20%;
    background-color: lightblue;
}

.div3 {
height: 20vh;
    width: 20%;
    background-color: lightblue;
}

.divsgora{
    height: 20vh;
    width: 20%;
    background-color: lightblue;
}